v[default]
access_key = {{ s3cmd_access_key }}
access_token = {{ s3cmd_access_token }}
add_encoding_exts =
add_headers =
bucket_location = {{ s3cmd_location }}
ca_certs_file =
cache_file =
check_ssl_certificate = True
check_ssl_hostname = True
cloudfront_host = {{ s3cmd_cloudfront_host }}
connection_pooling = True
content_disposition =
content_type =
default_mime_type = binary/octet-stream
delay_updates = False
delete_after = False
delete_after_fetch = False
delete_removed = False
dry_run = False
enable_multipart = True
encoding = UTF-8
encrypt = False
expiry_date =
expiry_days =
expiry_prefix =
follow_symlinks = False
force = False
get_continue = False
gpg_command = /usr/bin/gpg
gpg_decrypt = %(gpg_command)s -d --verbose --no-use-agent --batch --yes --passphrase-fd %(passphrase_fd)s -o %(output_file)s %(input_file)s
gpg_encrypt = %(gpg_command)s -c --verbose --no-use-agent --batch --yes --passphrase-fd %(passphrase_fd)s -o %(output_file)s %(input_file)s
gpg_passphrase =
guess_mime_type = True
host_base = {{ s3cmd_host_base }}
host_bucket = {{ s3cmd_host_bucket }}
human_readable_sizes = False
invalidate_default_index_on_cf = False
invalidate_default_index_root_on_cf = True
invalidate_on_cf = False
kms_key =
limit = -1
limitrate = 0
list_md5 = False
log_target_prefix =
long_listing = False
max_delete = -1
mime_type =
multipart_chunk_size_mb = {{ s3cmd_multipart_chunk_size_mb }}
multipart_max_chunks = {{ s3cmd_multipart_max_chunks }}
preserve_attrs = True
progress_meter = True
proxy_host =
proxy_port = 0
public_url_use_https = False
put_continue = False
recursive = False
recv_chunk = {{ s3cmd_recv_chunk }}
reduced_redundancy = False
requester_pays = False
restore_days = 1
restore_priority = Standard
secret_key = {{ s3cmd_secret_key }}
send_chunk = {{ s3cmd_send_chunk }}
server_side_encryption = False
signature_v2 = False
signurl_use_https = False
simpledb_host = {{ s3cmd_simpledb_host }}
skip_existing = False
socket_timeout = {{ s3cmd_socket_timeout }}
stats = False
stop_on_error = False
storage_class =
throttle_max = {{ s3cmd_throttle_max }}
upload_id =
urlencoding_mode = normal
use_http_expect = False
use_https = True
use_mime_magic = True
verbosity = WARNING
website_endpoint = {{ s3cmd_website_endpoint }}
website_error =
website_index = {{ s3cmd_website_index }}
